<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Mancare</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Mancare</h1>

	<form th:object="${foodViewModel}" action="foodView.html"
		th:action="@{/food}" method="post">
		<div>
			<input name="submit" type="submit" value="Download" />
		</div>

		<div>
			<p>
				Adauga mancare: <input type="text" th:field="*{foodName}" />
			</p>
			<p>
				 Adauga ingrediente: <input type="text" th:field="*{ingredients}" />
			</p>
			<p>
				 Adauga gramaj: <input type="text" th:field="*{weight}" />
			</p>
			<p>
				 Adauga pret: <input type="text" th:field="*{price}" />
			</p>
			<p>
				<input name="submit" type="submit" value="Submit" /> 
			</p>
		</div>
	</form>
</body>
</html>