<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:include="layout/header.html"></th:block>
<title>Mancare</title>
<link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/css/stylesheet.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Mancare</h1>
<div >
	<form th:object="${foodViewModel}" action="foodView.html"
		th:action="@{/foodView}" method="post">
		<div>
			<p>
				Adauga mancare: <input type="text" th:field="*{foodName}" />
			</p>
			<p>
				Adauga ingrediente: <input type="text" th:field="*{ingredients}" />
			</p>
			<p>
				Adauga gramaj: <input type="text" th:field="*{weight}" />
			</p>
			<p>
				Adauga pret: <input type="text" th:field="*{price}" />
			</p>
			<p>
				<input name="submit" type="submit" value="Submit" />
			</p>
		</div>
	</form>
	<footer>
		<th:block th:include="layout/footer.html"></th:block>
	</footer>
</div>
</body>
</html>