<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/override.css}"
	href="../../static/css//override.css" />
<head></head>
<body>

	<form th:object="${personViewModel}" action="#" th:action="@{/person}"
		method="post">
		<div>
			<input class="btn btn-primary" name="submit" type="submit"
				value="Download" />
		</div>

		<div>
			<label for="personsName"> Insert Person Name:</label>
			<div>
				<input type="text" th:field="*{name}" />
			</div>
			<br>
			<div>
				<input class="btn btn-primary" name="submit" type="submit"
					value="Search" /> 
				<input class="btn btn-primary" type="reset" value="Reset" />
			</div>
			
		</div>

		<div th:if="${not personViewModel.isListEmpty()}">
			<table class="table tcolor table-bordered">
				<thead class="thead">
					<tr>
						<td class="span2">NAME</td>
						<td class="span2">STREET_ADDRESS</td>
						<td class="span2">CITY</td>
						<td class="span2">STATE</td>
						<td class="span2">COUNTRY</td>
						<td class="span2">POSTAL_CODE</td>
						<td class="span2">EFFECTIVE_DATE</td>
						<td class="span2">EXPIRATION_DATE</td>
						<td class="span2">STANDARD_ORDER</td>
						<td class="span2">LAST_UPDATE</td>
						<td class="span2">ACTION</td>
						<td class="span2">FR_CITATION</td>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="person : *{searchedList}">
						<td data-th-text="${person.name}">...</td>
						<td data-th-text="${person.streetAddress}">...</td>
						<td data-th-text="${person.city}">...</td>
						<td data-th-text="${person.state}">...</td>
						<td data-th-text="${person.country}">...</td>
						<td data-th-text="${person.postalCode}">...</td>
						<td data-th-text="${person.effectiveDate}">...</td>
						<td data-th-text="${person.expirationDate}">...</td>
						<td data-th-text="${person.standardOrder}">...</td>
						<td data-th-text="${person.lastUpdate}">...</td>
						<td data-th-text="${person.action}">...</td>
						<td data-th-text="${person.frCitation}">...</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:if="${not personViewModel.isMaliciousEmpty()}">
			<p>
				<b>This search offer also some unformatted information</b>
			</p>

			<table border="3">
				<tr data-th-each="person : *{maliciousList}">
					<td data-th-text="${person.line}">...</td>
				</tr>
			</table>
		</div>

		<div
			th:if="${personViewModel.isListEmpty()} and ${personViewModel.isMaliciousEmpty()} and ${not personViewModel.isNameEmpty()}">
			<p>No information found</p>
		</div>

		<div
			th:if="${not personViewModel.isListEmpty()} or ${not personViewModel.isMaliciousEmpty()}">
			<p>
				<input class="btn btn-primary" name="submit" type="submit" value="Export"
					th:action="@{/download1}" />
			</p>
		</div>
	</form>
</body>
<th:block th:include="layout/bootstrapIncludes.html"></th:block>
</html>