<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="layout/header.html"></th:block>
		<title>Meniu</title>
	</head>
	
	<body>
		<div>
			<form action="#" th:action="@{/menuView}" th:object="${menuViewModel}" method="post">
				<div>
					<h1>Adaugare meniu</h1>
					
					<div th:each="number : ${#numbers.sequence(0,3)}">
						<div th:if="${addMenuIsAvailable == True}">
							<div>
								<select>
									<option>Select Category</option>
									<option th:each="category : ${categoryList}"
											th:text="${category.name}"></option>
								</select>
								
								<div>
									<table>
										<thead>
											<tr>
												<th>ID</th>
												<th>FOOD NAME</th>
												<th>FOOD INGREDIENTS</th>
												<th>FOOD WEIGHT</th>
												<th>FOOD PRICE</th>
												<th>SELECTED</th>
											</tr>
										</thead>
										
										<tbody>
											<tr th:each="food : ${foodList}">
												<td th:text="${food.id}"></td>
												<td th:text="${food.name}"></td>
												<td th:text="${food.ingredients}"></td>
												<td th:text="${food.weight}"></td>
												<td th:text="${food.price}"></td>
												<td><input type="checkbox"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
	
							<input name="submit" type="submit" th:value="AddMenu"/>
							
							<p>
								<input name="submit" type="submit" th:value="Cancel"/>
								<input name="submit" type="submit" th:value="SaveAll"/>
							</p>
						</div>
					</div>
					
					<div th:if="${addMenuIsAvailable == False}">
						<input name="submit" type="submit" th:value="AddMenu"/>
					</div>
					
					<br/><br/><br/><br/>
				</div>
			</form>
		</div>
	</body>
</html>