<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="layout/header.html"></th:block>
		<title>Meniu</title>
	</head>
	
	<body>
		<form action="#" th:action="@{/menuView}" method="post">
			<div>
				<h1>Adaugare meniu</h1>
				
				<div th:if="${addMenuIsAvailable == False}">
					<input name="submit" type="submit" th:value="AddMenu"/>
				</div>
				
				<div th:if="${addMenuIsAvailable == True}">
					<div>
						Alege data: <input type="date" name="menuData" />
						<input name="submit" type="submit" th:value="Cancel" />
						<input name="submit" type="submit" th:value="AddCategory"/>
						
						<div th:if="${addCategoryIsAvailable == True}">
							<select id="test" name="test">
								<option value="">Select Test Order</option>
								<option th:each="category : ${categoryList}" th:value="${category.name}" th:text="${category.name}"></option>
							</select>
						</div>
					</div>
				</div>
				
				<br/><br/><br/><br/>
			</div>
		</form>
	</body>
</html>