<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/override.css}"
	href="../../static/css//override.css" />
<head>
</head>
<body>
<body>
	<h1>Category Table</h1>
	<form action="#" th:object="${newCategoryDTO}" th:action="@{/categoryView}" method="post">
		<div class = "form-group">
			<div th:if="${addCategoryIsAvailable == True}">
				<div>
					<label for="categoryName">Nume:</label>
					<div> 
						<input type="text" th:field="*{name}" maxlength="27" size="40" autofocus />
					</div>
				</div>
				<div>
					<label for="categoryPrice">Pret:</label>
					<div>
						<input type="text" th:field="*{price}" maxlength="27" size="40" />
					</div>
				</div>
				<br>
				<div>
					<input class="btn btn-primary" name="submit" type="submit" th:value="Salveaza" /> 
					<input class="btn btn-primary" name="submit" type="submit" th:value="Anuleaza" /> 
				</div>
			</div>

		</div>
		
		<div th:if="${addCategoryIsAvailable == False}">
			<input class="btn btn-primary" name="submit" type="submit" th:value="Adauga" /> 
		</div>
		
		<br> <br> <br>
		
		<div>
			<table class="table tcolor table-bordered">
				<thead class="thead thead-dark">
					<tr>
						<th scope="col">Nume</th>
						<th scope="col">Pret</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="category : ${categoryViewModel.categoryItems}">
						<td class="text-center" th:text="${category.name}">...</td>
						<td class="text-center" th:text="${category.price}">...</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</body>
<th:block th:include="layout/bootstrapIncludes.html"></th:block>
</html>