<!DOCTYPE html >

<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/override.css}"
	href="../../static/css//override.css" />
<link rel="stylesheet" th:href="@{/css/stickies.css}"
	href="../../static/css//stickies.css" />
<head>
</head>
<body>
	<form action="#" th:object="${newCategoryDTO}" th:action="@{/categoryView}" method="post">
		<div class = "form-group">
			<div id="sticky-anchor"></div>
			<div id="sticky">
				<h1>Adauga Categorie </h1>
				<div th:if="${addCategoryIsAvailable == False}">
					<input class="btn btn-primary" name="submit" type="submit" th:value="Adauga" /> 
					<input class="btn btn-primary" name="submit" type="submit" th:value="Sterge" /> 
				</div>
			</div>
			<div th:if="${addCategoryIsAvailable == True}">
				<div>
					<label for="categoryName">Nume:</label>
					<div> 
						<input type="text" th:field="*{name}" maxlength="27" size="40" autofocus />
					</div>
				</div>
				<div>
					<label for="categoryPrice">Pret:</label>
					<div>
						<input type="text" th:field="*{price}" maxlength="27" size="40" style="text-align:right" />
					</div>
				</div>
				<br>
				<div>
					<input class="btn btn-primary" name="submit" type="submit" th:value="Salveaza" /> 
					<input class="btn btn-primary" name="submit" type="submit" th:value="Anuleaza" /> 
				</div>
			</div>

		</div>
				
		<div>
			<table class="table tcolor table-bordered" id="datatable">
				<thead class="thead thead-dark">
					<tr>
						<th class="span2 text-center">Nume</th>
						<th class="span2 text-center">Pret</th>
						<th class="span2 text-center">Check</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="category : ${categoryViewModel.categoryItems}">
						<td class="text-center" th:text="${category.name}">...</td>
						<td class="text-center" th:text="${category.price}">...</td>
						<td class="text-center"><input class="span2 text-center"type="checkbox" name = "delete" th:value="${category.id}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</body>
<th:block th:include="layout/bootstrapIncludes.html"></th:block>

<script>
	function sticky_relocate() {
		var window_top = $(window).scrollTop();
		var div_top = $('#sticky-anchor').offset().top;
		if (window_top > div_top) {
			$('#sticky').addClass('stick');
		} else {
			$('#sticky').removeClass('stick');
		}
	}

	$(function() {
		$(window).scroll(sticky_relocate);
		sticky_relocate();
	});
</script>
</html>