<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/override.css}" href="../../static/css//override.css" />
<link rel="stylesheet" th:href="@{/css/mainPage.css}" href="../../static/css/mainPage.css"/>
<head></head>
<body>
	<form action="#" th:action="@{/employeeOrderView}" th:object="${session.menuViewModel}" method="post">
		<br />
		<div th:if="${isMenuDatePicked == false}">
			<div th:if="${orderedWithSuccess == true}" class="alert alert-success text-center" role="alert">
					<h5> Comanda plasata cu succes! </h5> 
			</div>
			<div th:if="${alreadyOrderedForThisDate == true}" class="alert alert-danger text-center" role="alert">
				<h5> Ati comandat deja pentru aceasta data! </h5> 
			</div>
			<div th:if="${orderRemoved == true}" class="alert alert-info text-center" role="alert">
				<h5> O comanda a fost stearsa! </h5> 
			</div>
			<table>
				<tr>
					<td>
						<select class="btn btn-primary" name="pickedDate">
							<option class="btn btn-primary" th:each="date : ${allAvailableMenuDates}" th:text="${date}"/>
						</select>
					</td>
					<td>
						<input class="btn btn-primary" type="submit" name="submit" value="Alege data" />
					</td>
				</tr>
			</table>
		</div>
		<div th:if="${isMenuDatePicked == true}">
			<table>
				<tr style="text-align: center; font-weight: bolder; font-size: 2vw">
					<td>
						<font color="#0072C6">Alegeti mancarea pentru data:&nbsp;</font>
					</td>
					<td>
						<font color="#0072C6"><b th:text="*{menuDTO.date}"></b></font>
						<input type="hidden" name="date" th:value=*{menuDTO.date}>
					</td>
				</tr>
			</table>
			<div th:if="${noFoodSelected == true}" class="alert alert-danger text-center" role="alert">
				<h5> Nu ati selectat mancare! </h5> 
			</div>
			<div th:if="${alreadyOrderedForThisDate == true}" class="alert alert-danger text-center" role="alert">
				<h5> Ati comandat deja pentru aceasta data! </h5> 
			</div>
			<div id="dish" th:each="dish : *{dishesDTO}">
				<div th:each="categ : ${dish.categories}">
					<div id="uniqueID" class="menu">
						<hr>
						<div class="name" th:text="${categ.category.name}"></div>
						<div class="price" th:text="${categ.category.price} + ' lei'"></div> 
						<input name="dishCheckbox" onclick="check(parentNode.id, this)" type="checkbox" th:value="${categ.category.id}" style="float: left;margin-left: 30%;">
						<div class="checkboxText">&nbsp;Selecteaza meniul</div>
						<hr>
							<table class="table tcolor table-bordered">
							<thead class="thead thead-dark">
								<tr>
									<th class="text-center" scope="col">NUME</th>
									<th class="text-center" scope="col">INGREDIENTE</th>
									<th class="text-center" scope="col">GRAMAJ</th>
									<th class="text-center" scope="col">PRET</th>
									<th class="text-center" scope="col">CANTITATE</th>
								</tr>
							</thead>
							<tr th:each="foodObj : ${dish.foods}">
								<th class="text-center" scope="col" th:text="${foodObj.food.name}"></th>
								<th class="text-center" scope="col" th:text="${foodObj.food.ingredients}"></th>
								<th class="text-center" scope="col" th:text="${foodObj.food.weight} + 'g'"></th>
								<th class="text-center" scope="col" th:text="${foodObj.food.price} + ' lei'"></th>
								<th scope="col"><input style="text-align: right" type="number" class="form-control" min="0" max="10" name="quantity" value="0" disabled /></th>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div>
				<input class="btn btn-primary" name="submit" type="submit"value="Comanda"/> 
				<input class="btn btn-primary" name="submit" type="reset" value="Reseteaza"/> 
				<input class="btn btn-primary" name="submit" type="submit" value="Anuleaza"/>
			</div>
		</div>
	</form>
</body>
<th:block th:include="layout/bootstrapIncludes.html"></th:block>
<script src="selectAll.js"></script>
</html>