<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/override.css}"
	href="../../static/css//override.css" />
<head></head>
<body>
<body>
	<h1>Mancare</h1>
	<div>
		<form th:object="${newFoodDTO}" action="#" th:action="@{/foodView}"
			method="post">
			<div class="form-group">
				<div th:if="${addFoodIsAvailable == true }">
					<div>
						<label for="foodName">Mancare:</label>
						<div>
							<input type="text" th:field="*{name}" size="40" autofocus />
						</div>
					</div>
					<div>
						<label for="ingredients">Ingredinte:</label>
						<div>
							<input type="text" th:field="*{ingredients}" size="40" />
						</div>
					</div>
					<div>
						<label for="weight">Gramaj:</label>
						<div>
							<input type="text" th:field="*{weight}" size="40" style="text-align: right"/>
						</div>
					</div>
					<div>
						<label for="price">Pret:</label>
						<div>
							<input type="text" th:field="*{price}" size="40" maxlength="4"
								style="text-align: right" />
						</div>
					</div>
					<br>
					<div>
						<input class="btn btn-primary" name="submit" type="submit"
							th:value="Salveaza" /> <input class="btn btn-primary"
							name="submit" type="submit" th:value="Anuleaza" />
					</div>
				</div>
			</div>
			<br>

			<div th:if="${addFoodIsAvailable == false }">
				<input class="btn btn-primary" name="submit" type="submit" th:value="Adauga" />
				<input class="btn btn-primary" name="submit" type="submit" th:value="Sterge" />
			</div>
			
			<br>

			<div>
				<table class="table tcolor table-bordered" id="datatable">
					<thead class="thead">
						<tr>
							<td class="span2 text-center">Mancare</td>
							<td class="span2 text-center">Ingrediente</td>
							<td class="span2 text-center">Gramaj</td>
							<td class="span2 text-center">Pret</td>
							<td class="span2 text-center">Check</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="food :${foodViewModel.foodItems}">
							<td class="text-center" th:text="${food.name}">...</td>
							<td class="text-center" th:text="${food.ingredients}">...</td>
							<td class="text-center" th:text="${food.weight}">...</td>
							<td class="text-center" th:text="${food.price}">...</td>
							<td class="text-center" ><input type="checkbox" name = "forDelete" th:value="${food.id}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
</body>
<th:block th:include="layout/bootstrapIncludes.html"></th:block>
</html>
