<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/override.css}"
	href="../../static/css//override.css" />
<head></head>
<body>
	<h1>Angajati</h1>
	
	<form action="#" th:object="${nextWeekViewModel}" th:action="@{/nextWeekReportView}" method="post">
		<table>
			<thead>
				<tr>
					<th> User </th>
					<th> Check </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="nr : ${list}">
					<td th:text="${nr}"></td>
					<td><input type="checkbox"/></td>
				</tr>
			</tbody>		
		</table>
		
		<input type="submit" th:value="Submit"/>
	</form>
</body>
</html>