<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/override.css}"
	href="../../static/css//override.css" />
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div class="content">
		<h2 class="texts">Statistica de comenzi plasate - comenzi
			ridicate</h2>
	</div>
	<br>
	<br>

	<form action="#" th:actions="@{/statisticsView}" th:object="${session.statisticsViewModel}" method="post" >
		<div class="form-group">
			<table  class="table tcolor table-bordered">
				<thead class="thead thead-dark">
					<tr>
						<th scope="col" class="span2 text-center">Angajat</th>
						<th scope="col" class="span2 text-center">Comenzi plasate</th>
						<th scope="col" class="span2 text-center">Comenzi ridicate</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="statistic, iter : *{statistics}">
						<td scope = "col" class="span2 text-center" th:text="${statistic.user.name}"></td>
 						<td scope = "col" class="span2 text-center" th:text="${statistic.placedOrder}"></td>
						<td scope = "col" class="span2 text-center" th:text="${statistic.pickedUpOrder}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</body>
</html>
