<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/override.css}" href="../../static/css/override.css" />
<div>
	<form action="#" th:action="@{/viewMenuView}" th:object="${editMenuViewModel}" method="post">
		<div>
			<h1> Meniu </h1>
			
			<table class = "table tcolor table-bordered">
				<thead class = "thead thead-dark">
					<tr>
						<th class="text-center"> NUME MENIU </th>
						<th class="text-center"> DATA MENIU </th>
						<th class="text-center"> COLOANA </th>
					</tr>
				</thead>
				
				<tbody th:if="${not #lists.isEmpty(editMenuViewModel.menus)}">
					<tr th:each="menuItem, iter : *{menus}">
						<td class="text-center" th:text="${menuItem.title}"></td>
						<td class="text-center" th:text="${menuItem.date}"></td>
						<td>
							<input class="btn btn-primary" th:name="${iter.index}" type="submit" th:value="Edit"/>
							<input class="btn btn-primary" th:name="${iter.index}" type="submit" th:value="Publish"/>
						</td>
					</tr>
				</tbody>
				
				<tbody th:if="${#lists.isEmpty(editMenuViewModel.menus)}">
					<tr>
						<td colspan="4">Nu exista nimic de afisat</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</div>
<th:block th:include="layout/bootstrapIncludes.html"></th:block>
</html>